AIRFLOW_HOME={{ AIRFLOW_HOME|default('/opt/airflow/airflow') }}


# PostgreSQL params in Airflow Containers
POSTGRES_USER={{ POSTGRES_USER }}
POSTGRES_PASSWORD={{ POSTGRES_PASSWORD }}
POSTGRES_HOST={{ POSTGRES_HOST }}
POSTGRES_PORT={{ POSTGRES_PORT }}
POSTGRES_DB={{ POSTGRES_DB }}
POSTGRES_EXTRAS={{ POSTGRES_EXTRAS }}


# Celery/Redis
REDIS_PASSWORD={{ REDIS_PASSWORD }}
REDIS_PROTO={{ REDIS_PROTO }}
REDIS_HOST={{ REDIS_HOST }}
REDIS_PORT={{ REDIS_PORT }}
REDIS_PASSWORD={{ REDIS_PASSWORD }}
REDIS_DBNUM={{ REDIS_DBNUM }}
AIRFLOW__CELERY__BROKER_URL={{ REDIS_PROTO }}{{ REDIS_PREFIX }}{{ REDIS_HOST }}:{{ REDIS_PORT }}/{{ REDIS_DBNUM }}


# airflow.cfg [core]
AIRFLOW__CORE__EXECUTOR={{ AIRFLOW__CORE__EXECUTOR|default('SequentialExecutor') }}
AIRFLOW__CORE__DAGS_FOLDER={{ AIRFLOW__CORE__DAGS_FOLDER|default('${AIRFLOW_HOME}/dags') }}
AIRFLOW__CORE__BASE_LOG_FOLDER={{ AIRFLOW__CORE__BASE_LOG_FOLDER|default('${AIRFLOW_HOME}/logs') }}
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgres://{{ POSTGRES_USER }}:{{ POSTGRES_PASSWORD }}@{{ POSTGRES_HOST }}:{{ POSTGRES_PORT }}/{{ POSTGRES_DB }}{{ POSTGRES_EXTRAS }}
AIRFLOW__CORE__PLUGINS_FOLDER={{ AIRFLOW__CORE__PLUGINS_FOLDER|default('${AIRFLOW_HOME}/plugins') }}
AIRFLOW__CORE__LOAD_EXAMPLES={{ AIRFLOW__CORE__LOAD_EXAMPLES|default(true) }}

# Enable DAG Serialization
AIRFLOW__CORE__STORE_SERIALIZED_DAGS={{ AIRFLOW__CORE__STORE_SERIALIZED_DAGS|default(false) }}
AIRFLOW__CORE__MIN_SERIALIZED_DAG_UPDATE_INTERVAL={{ AIRFLOW__CORE__MIN_SERIALIZED_DAG_UPDATE_INTERVAL|default(30) }}


# airflow.cfg [webserver]
AIRFLOW__WEBSERVER__WEB_SERVER_PORT={{ AIRFLOW__WEBSERVER__WEB_SERVER_PORT|default(8080) }}
AIRFLOW__WEBSERVER__WORKERS={{ AIRFLOW__WEBSERVER__WORKERS|default(4) }}


# airflow.cfg [schedule]
AIRFLOW__SCHEDULER__PRINT_STATS_INTERVAL={{ AIRFLOW__SCHEDULER__PRINT_STATS_INTERVAL|default(30) }}
